.item {
  &:nth-child(1) {
    background-image: url("/images/overlay.png"), url("/images/bemed1.jpg") !important;
  }
  &:nth-child(2) {
    background-image: url("/images/overlay.png"), url("http://www.molecularimaging.com/sites/molecularimaging.com/files/ckfinder/userfilesimages/Sanford%20Consorium%20for%20Regenerative%20Medicine.jpg") !important;
  }
  &:nth-child(3) {
    background-image: url("/images/overlay.png"), url("https://www.helmholtz-muenchen.de/fileadmin/HZM-Corporate-Website/Bilder/HZM/Mediathek/images_Bildarchiv/Pipittervorgang_gross.jpg") !important;
  }
}
