extends /dev/layouts/default
include /dev/mixins/mixins

block title
  title Events - BMES | UCSD

append styles
  link(rel='stylesheet', type='text/css', href='/css/events.css')

append vars
  - var title = 'Events'
  - var subtitle = 'We have many Social & Professional Events!'
  - var maintext = ''

block content
  .content-inner
    for group in content.events
      +events-card(group)