//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^bmes.ucsd.edu[nc]
RewriteRule ^(.*)$ http://www.bmes.ucsd.edu/$1 [r=301,nc]

//Remove HTML Extension
RewriteRule ^([^\.]+)$ $1.html [NC,L]