//- append to this block and override its variables
block vars
  - var title = 'Title'
  - var subtitle = 'Subtitle'
  - var maintext = 'Main text'
  - var bgUrl = '/images/cover.jpg'
  //- bubbles key = text, value = href
  - var bubbles = {}

block intro

#content
  .container
    block content
