.footer.container
  #subscribe.input-group.col-sm-5.pull-left
    span.input-group-btn
      a(href='http://eepurl.com/bysLKb', target='_blank')
        button.btn.btn-sm.btn-default(type='button') Subscribe to our Mailing List!
  #socialmedia.col-xs-12.col-sm-3.pull-right
    a#fb(href='https://www.facebook.com/groups/UCSDBMES1617/?fref=nf', target='_blank')
      img.img-responsive(src='/images/facebook-100.png')
