doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title
      title BMES | UCSD

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name='author', content='Clarence Mah, Michelle Ragsac')

    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    nav#nav.navbar.navbar-default.navbar-fixed-top.navbar-custom.navbar-lg(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar  
        a.navbar-brand(href='/index.html')
          img(src='/images/bmes_logo.png')
          .name BMES
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle.disabled(href='/committees.html', data-toggle='dropdown', role='button', aria-expanded='false')
              | Committees
              span.caret
            ul.dropdown-menu(role='menu')
              li:a(href='/committees/beday.html') Bioengineering Day
              li:a(href='/committees/labexpo.html') Lab Expo
              li:a(href='/committees/social.html') Social
              li:a(href='/committees/outreach.html') Outreach
              li:a(href='/committees/RD.html') Translational Medicine Day
              li:a(href='/committees/projectteam.html') Project Team
              li:a(href='/committees/mtech.html') Media and Technology
              li.divider
              li:a(href='/committees/resources.html') Resources
          li.divider-vertical
          li.dropdown
            a.dropdown-toggle.disabled(href='/events.html', data-toggle='dropdown', role='button', aria-expanded='false')
              | Events
              span.caret
            ul.dropdown-menu(role='menu')
              li:a(href='/events/beday.html') Bioengineering Day
              li:a(href='/events/labexpo.html') Lab Expo
              li:a(href='/events/beinspired.html') BE Inspired
              li:a(href='/events/panels.html') Industry &amp; Academia Panels
              li:a(href='/events/translationalmedicine.html') Translational Medicine Day
              li:a(href='/events/mentormentee.html') Mentorship Program
              li.divider
              li:a(href='/events/calendar.html') Calendar
          li.divider-vertical
          li.dropdown
            a.dropdown-toggle.disabled(href='/contact.html', data-toggle='dropdown', role='button', aria-expanded='false')
              | Contact
    #home-carousel.carousel.slide(data-ride='carousel', data-pause='hover')
      .container.intro-text
        .col-md-6
          h2 Biomedical Engineering Society
          |         
          h4 University of California, San Diego
        |       
        .col-md-6
          br
          |         
          p
            | The Biomedical Engineering Society (BMES) at the University of California, San Diego (UCSD) is dedicated to enriching the undergraduate experience for those in the Department of Bioengineering and for those interested in Biomedical Engineering by fostering personal growth and professional development. We encourage undergraduates to get involved with their education and start making a difference today!
      // Indicators
      // IMPLEMENT IF ADDITIONAL IMAGES ARE ADDED
      //
        <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        </ol>
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          .carousel-caption
            p Group Picture by the Bear
            |           
            p.credits photo: Michelle Ragsac
        // IMPLEMENT IF ADDITIONAL IMAGES ARE ADDED
        //
          <div class="item">
          <div class="carousel-caption">
          <p>Group Picture by the Bear</p>
          <p class="credits">photo: Michelle Ragsac</p>
          </div>
          </div>
    |   
    section#content
    // end content
    .footer.container
      #subscribe.input-group.col-sm-5.pull-left
        span.input-group-btn
          a(href='http://eepurl.com/bysLKb', target='_blank')
            button.btn.btn-sm.btn-default(type='button') Subscribe to our Mailing List!
      |     
      #socialmedia.col-xs-12.col-sm-3.pull-right
        a#fb(href='https://www.facebook.com/groups/UCSDBMES.2015/', target='_blank')
          img.img-responsive(src='/images/facebook-100.png')
      // end social media
      // end footer
      script(src='http://localhost:35729/livereload.js')
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/functions.js')
        script.
          (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o), m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
          })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-55543868-1', 'auto');
          ga('send', 'pageview');
