nav#nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  // Brand and toggle get grouped for better mobile display
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/index.html')
      img#logo(src='/images/bmes_logo.png')
      .name BMES

  // Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle.disabled(href='/committees.html', data-toggle='dropdown', role='button', aria-expanded='false')
          | Committees
          span.caret
        ul.dropdown-menu(role='menu')
          li: a(href='/committees/beday.html') Bioengineering Day
          li: a(href='/committees/labexpo.html') Lab Expo
          li: a(href='/committees/social.html') Social
          li: a(href='/committees/outreach.html') Outreach
          li: a(href='/committees/RD.html') Translational Medicine Day
          li: a(href='/committees/projectteam.html') Project Team
          li: a(href='/committees/freshman.html') Freshman
          li.divider
          li: a(href='/resources.html') Resources
      li.divider-vertical
      li.dropdown
        a.dropdown-toggle.disabled(href='/events.html', data-toggle='dropdown', role='button', aria-expanded='false')
          | Events
          span.caret
        ul.dropdown-menu(role='menu')
          li: a(href='/events/beday.html') Bioengineering Day
          li: a(href='/events/labexpo.html') Lab Expo
          li: a(href='/events/panels.html') Industry &amp; Academia Panels
          li: a(href='/events/translationalmedicine.html') Translational Medicine Day
          li: a(href='/events/bengexp.html') Bioengineering Experience
          li.divider
          li: a(href='/calendar.html') Calendar
      li.divider-vertical
      li.dropdown
        a.dropdown-toggle.disabled(href='/programs.html', data-toggle='dropdown', role='button', aria-expanded='false')
          | Programs
          span.caret
        ul.dropdown-menu(role='menu')
          li: a(href='/programs/xseed.html') BMES xSEED
          li: a(href='/programs/ptresearch.html') Research Division
          li: a(href='/programs/mentor.html') Mentorship Program
          li.divider
          li: a(href='/opportunities.html') Opportunities
          li: a(href='/finances.html') Finances
      li.divider-vertical
      //li.visible-xs.dropdown
      //  a.dropdown-toggle.disabled(data-toggle='dropdown', role='button', aria-expanded='false')
      //    | Other
      //    span.caret
      //  ul.dropdown-menu(role='menu')
      //    li: a(href='/opportunities.html') Opportunities
      //    li: a(href='/finances.html') Finances
      //li.visible-xs.divider-vertical
      li.dropdown
        a.dropdown-toggle.disabled(href='/contact.html', data-toggle='dropdown', role='button', aria-expanded='false')
          | Contact
