extends /dev/layouts/committee_subpages

block title
    title BE Day Committee - BMES | UCSD

append styles
  link(rel='stylesheet', type='text/css', href='/css/committees/beday.css')

append vars
  - var title = 'Bioengineering Day Committee'
  - var subtitle = ''
  - var maintext = ''
  - var bubbles = {'bubble1': 'link1', 'bubble2': 'link2'}

//- block content
//-     .well
//-       code Meeting Times: Thursdays at 8:00pm in PFBH 291
//-     .row.row-custom
//-       h3 About
//-       p
//-         | Bioengineering Day gives seniors the chance to showcase their projects, gives graduate students to present their work, gives speakers the ability to share insights into their respective fields, and gives UC San Diego student teams the chance to test their smarts at the annual Bioengineering Day Quiz Bowl. With this cherished tradition, BMES works as a team with graduate students to create a day dedicated to the expansive field of Bioengineering.
//-     // end row
//-     .related-events.col-xs-12
//-       a.item.col-md-4(href='/events/beday.html')
//-         .item-inner.card
//-           h4 BE Day
//-           .scrim-top
//-     // end related events
//-     .row.row-custom
//-     .application-links
//-       h3 Resources
//-       p
//-         | All related documents, applications, forms, and surveys to this committee can be found in this section.
//-       // row
//-       .row
//-         a.app.col-sm-4(href='https://docs.google.com/forms/d/1fKM1c4T7G0nsJCRwmyMrVgGvrmxiMXh90BcAT46FU-Y/viewform', target='_blank')
//-           .app-inner.card
//-             h4 Quiz Bowl Application
//-             p
//-             p
//-               strong Application Deadline:
//-               |  4/8/2016 at 11:59pm
//-         // end .row
