extends /dev/layouts/committee_subpages

block title
    title BE Day Committee - BMES | UCSD

append styles
  link(rel='stylesheet', type='text/css', href='/css/committees/beday.css')

append vars
  - var comm = content.committees.beday
  - var bgUrl = comm.imageUrl
  - var bubbles = comm.officers
  - var title = 'Bioengineering Day Committee'
  - var subtitle = ''
  - var maintext = ''
