extends /dev/layouts/committee_subpages

block title
    title Freshman Committee - BMES | UCSD

append styles
  link(rel='stylesheet', type='text/css', href='/css/committees/freshman.css')

append vars
  - var comm = content.committees.freshman
  - var bgUrl = comm.imageUrl
  - var bubbles = comm.officers
  - var title = "Freshman Committee"
  - var subtitle = ''
  - var maintext = ''